In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
#    for filename in filenames:
#        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [8]:
train = pd.read_csv('data/train.csv', parse_dates=['datetime'])
train['hour'] = train['datetime'].dt.hour

electricity = pd.read_csv('data/electricity_prices.csv', parse_dates=['forecast_date'])
electricity['hour'] = electricity['forecast_date'].dt.hour
dataset = train.merge(electricity[['euros_per_mwh', 'hour', 'data_block_id']], how='left', on=['hour', 'data_block_id'])

gas = pd.read_csv('data/gas_prices.csv')
dataset = dataset.merge(gas[['data_block_id', 'lowest_price_per_mwh', 'highest_price_per_mwh']], how='left', on='data_block_id')

client = pd.read_csv('data/client.csv')
client['data_block_id'] -= 2
dataset = dataset.merge(client.drop(columns = ['date']), how='left', on=['data_block_id', 'county', 'is_business', 'product_type'])

print(dataset.info())

dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018352 entries, 0 to 2018351
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   county                 int64
 1   is_business            int64
 2   product_type           int64
 3   target                 float64
 4   is_consumption         int64
 5   datetime               datetime64[ns]
 6   data_block_id          int64
 7   row_id                 int64
 8   prediction_unit_id     int64
 9   hour                   int32
 10  euros_per_mwh          float64
 11  lowest_price_per_mwh   float64
 12  highest_price_per_mwh  float64
 13  eic_count              float64
 14  installed_capacity     float64
dtypes: datetime64[ns](1), float64(6), int32(1), int64(7)
memory usage: 223.3 MB
None

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,hour,euros_per_mwh,lowest_price_per_mwh,highest_price_per_mwh,eic_count,installed_capacity
0,0,0,1,0.713,0,2021-09-01,0,0,0,0,NaN,NaN,NaN,108.0,952.89
1,0,0,1,96.590,1,2021-09-01,0,1,0,0,NaN,NaN,NaN,108.0,952.89
2,0,0,2,0.000,0,2021-09-01,0,2,1,0,NaN,NaN,NaN,17.0,166.40
3,0,0,2,17.314,1,2021-09-01,0,3,1,0,NaN,NaN,NaN,17.0,166.40
4,0,0,3,2.904,0,2021-09-01,0,4,2,0,NaN,NaN,NaN,688.0,7207.88